【消费者佩戴产品过程】
- 用户拿到产品后，会有【敷贴器】和【传感器组件包】两部分。
- 用户会分别拆开【敷贴器】的【防尘盖】和撕开【传感器组件包】上的封口。
- 然后用户需要将【敷贴器】和【传感器组件包】合在一起进行按压组装。
- 组装完成后，【传感器组件包】里的【导引针】和【传感器电极】会和【敷贴器】里的【发射器】组装在一起，形成【传感器】。
- 这时候，用户可将【敷贴器】抵住皮肤，然后摘下【敷贴器】上的【安全扣】然后按下【敷贴器】上的发射按钮，将【敷贴器】内部的【传感器】发射到用户的手臂上，完成安装。
